.c-outer-movie-data {
  width: 800px;
  height: 500px;
  /* border: radial-gradient(); */
  /* border: 10px solid red */
}

.teste-div {
  height: 280px;
  overflow: hidden;
}

.teste {
  background-size: cover;
  filter: blur(100px);
  height: 280px;
  transform: scale(2);
  overflow: hidden;
}

.teste::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  filter: blur(50px);
  transform: scale(3);
}

.c-movie-data {
  display: flex;
  align-items: end;
  justify-content: start;
  width: inherit;
  height: 500px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.c-movie-data .c-poster-img {
  height: 280px;
  width: auto;
  position: relative;
  left: 20px;
  z-index: 2;
}

.c-movie-data .c-movie-title {
  z-index: 2;
  position: relative;
  left: 50px;
  bottom: 80px;
}

.c-movie-data .c-movie-title span {
  font-size: 50px;
  color: white;
  font: s;
}


.c-movie-data .c-movie-rating {
  z-index: 2;
  position: relative;
  font-size: 22px;
  bottom: 80px;
  left: 60px;
}

#fade-effect {
  /* display: inline-block; */
  position: relative;
  width: 100%;
  height: 200px;
  bottom: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(4, 4, 4, 1) 50%);
}

.c-movie-data .c-movie-data-details {
  display: flex;
  flex-direction: column;
}

.c-movie-data-details .c-movie-title {
  font-size: xx-large;
  font-weight: bolder;
}