.c-movie-data {
  display: flex;
  height: 30rem;
  border-radius: 10px;
  background-color: red;
}

.c-movie-data img {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.c-movie-data .c-movie-data-details {
  display: flex;
  flex-direction: column;
}

.c-movie-data-details .c-movie-title {
  font-size: xx-large;
  font-weight: bolder;
}