.c-movie-details-a {
  display: flex;
}

.c-outer-movie-data {
  width: 800px;
  height: 450px;
  display: inline-block;
}

.c-movie-data {
  display: flex;
  align-items: end;
  /* justify-content: space-around; */
  width: inherit;
  height: inherit;
}

#foto {
  position: absolute;
  width: inherit;
  height: auto;
}

#foto-blur {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  filter: blur(500px);
  transform: scale(0.9);
  overflow: hidden;
  z-index: -1;
}

.c-movie-data-details-a {
  z-index: 2;
  display: flex;
  width: 800px;
  height: 280px;
  padding: 0 2rem;
  overflow: hidden;
}

.c-movie-data-details {
  width: 32rem;
  /* height: inherit;
  padding: 2.5rem 0; */
  overflow-wrap: break-word;
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.c-movie-data-details .c-movie-title {
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1;
  text-shadow:
    1px 1px 0 rgb(0, 0, 0, 0.4),
    -1px 1px 0 rgb(0, 0, 0, 0.4),
    1px -1px 0 rgb(0, 0, 0, 0.4),
    -1px -1px 0 rgb(0, 0, 0, 0.4);
  /* Define a cor e a posição das sombras */
}

.c-movie-data-details .c-movie-tagline {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-shadow:
    1px 1px 0 rgb(0, 0, 0, 0.3),
    -1px 1px 0 rgb(0, 0, 0, 0.3),
    1px -1px 0 rgb(0, 0, 0, 0.3),
    -1px -1px 0 rgb(0, 0, 0, 0.3);
}

#fade-effect {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 200px;
  bottom: 200px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(4, 4, 4, 0.5) 80%);
}

.c-outer-sla {
  margin: 0 1rem;
  padding: 1rem;
  background-color: rgba(26, 26, 26);
  border-radius: 10px;
}

.c-inner-sla {
  padding: 1rem;
  background-color: rgba(20, 20, 20);
  height: 100%;
}

.c-movie-rating-a,
.c-movie-runtime,
.c-movie-release-date {
  height: 1.3rem;
}

.c-movie-rating-a img,
.c-movie-runtime img,
.c-movie-release-date img {
  height: 100%;
}

.c-movie-rating-a span,
.c-movie-runtime span,
.c-movie-release-date span {
  font-size: 1em;
  margin-left: 0.2rem;
}

.c-movie-runtime,
.c-movie-release-date,
.c-movie-overview {
  margin-top: 0.3rem;
}

.c-movie-runtime img,
.c-movie-release-date img {
  filter: invert(30%)
}