.search-suggestion-card {
  display: flex;
  height: 6em;
  background-color: white;
  color: rgb(8 8 8);
  padding: 0.5em;
  width: 100%;

  .c-search-suggestion-poster {
    display: flex;
    max-height: 100%;
  }

  .c-search-suggestion-title {
    align-self: center;
    margin-left: 10px;
  }
}