.c-movie-review-card {
  background-color: var(--primary-container-color);
  padding: 1rem;
  border-radius: 5px;

  .c-movie-review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .c-movie-review-rating-prompt {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
        -1px -1px 0 black;
    }

    .c-movie-review-author {
      margin-right: auto;
      display: flex;
      align-items: center;
      height: 3rem;

      .c-img-user {
        height: 100%;
        border: 1px solid rgb(255 255 255 / 30%);
        background-color: rgb(0 0 0 / 30%);
        border-radius: 50%;
        margin-right: 0.5rem;
        overflow: hidden;

        img {
          height: 100%;
          filter: invert(80%);
        }
      }

      h2 {
        margin: 0;
      }
    }

    .btn-delete-review {
      height: 2rem;
      background-color: transparent;

      .img-trash-can-icon {
        height: 70%;
        filter: invert(95%);
      }
    }

    .btn-exit-edit-review {
      height: 2rem;
      background-color: transparent;
      color: white;
      font-weight: 900;
    }

    .btn-edit-review {
      height: 2rem;
      background-color: transparent;

      .img-pencil-icon {
        height: 70%;
        filter: invert(95%);
      }
    }
  }

  .c-movie-review-text {
    width: 100%;

    textarea {
      width: inherit;
      resize: none;
      outline: none;
      border: none;
      border-radius: 3px;
      vertical-align: top;
    }

    .c-textarea-length-counter {
      color: rgb(255 255 255 / 75%);
    }

    .text-over-limit {
      color: var(--error-text-message-color);
    }

    .c-error-msg {
      color: var(--error-text-message-color);
    }
  }

  .c-btn-submit {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: white;
      border-radius: 10px;
      padding: 0.5rem 1rem;
    }
  }
}
