.c-header {
  display: flex;
  align-items: center;
  background-color: rgb(24 24 24);
  box-shadow: 0 1px 1px rgb(12 12 12 / 20%);
  height: 4rem;
  width: 100%;
  padding: 0 16%;

  .c-logo {
    display: flex;
    align-items: end;
    height: 100%;
    transition: filter 0.5s ease-out;

    .img-logo {
      align-self: center;
      height: 90%;
    }

    .c-logo-name {
      font-size: 2.6rem;
      font-weight: 700;
      color: rgb(255 210 0);
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
        -1px -1px 0 black;

      span {
        color: rgb(255 50 50);
      }
    }
  }

  .c-logo:hover {
    filter: brightness(1.2);
  }
}
