body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  word-wrap: break-word;
  background-color: #fff;
  font-family: "Public Sans Web", Arial, sans-serif;
  color: #1b1b1b;
}
/* cor para botões ou detalhes: */
/* #f64137 */