body {
  word-wrap: break-word;
  background-color: rgb(8, 8, 8);
  /* background-color: #0c0c0c; */
  color: #ebeed5;
  font-family: "Public Sans Web", Arial, sans-serif;
}

a {
  text-decoration: none;
}