:root {
  --primary-container-color: rgb(20 20 20);
}

body {
  word-wrap: break-word;
  background-color: rgb(4 4 4);
  color: #ebeed5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

button {
  transition: filter 0.2s ease-out;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 6%);
}

button:hover {
  filter: brightness(1.1);
  box-shadow: 0 6px 8px rgb(0 0 0 / 15%), 0 4px 6px rgb(0 0 0 / 10%);
}