.c-custom-rating-selector {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;

  .c-rating-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 1px solid var(--color);
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
    color: white;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
  }

  .c-rating-circle:hover {
    background-color: var(--color);
    color: white;
  }

  .c-rating-circle.selected {
    background-color: var(--color);
  }
}
