.headerContainer {
  display: flex;
  background-color: rgb(24, 24, 24);
  box-shadow: 0 1px 1px rgba(12, 12, 12, 0.2);
  height: 5.5vh;
  width: 100vw;
  padding: 0 10%;
}
.ai

.logoContainer {
  display: flex;
}

.headerImage {
  align-self: center;
  height: 95%;
}

.logoNameContainer {
  display: flex;
  height: 100%;
  align-items: first baseline;
  font-size: 2.6rem;
  font-weight: 900;
  color: rgb(255, 210, 0);
}

.logoNameContainer span {
  display: flex;
  align-self: center;
  position: relative;
  font-size: 3.6rem;
  color: rgb(255, 50, 50);
}