.c-log-in-prompt {
  background-color: rgb(16, 16, 16);
  border-radius: inherit;
  padding: 30px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.c-log-in-message {
  text-align: center;
  font-size: x-large;
  margin-bottom: 30px;
}

.form-log-in {
  /* flex: 1;
  display: flex;
  flex-direction: column; */
  /* margin: 0 20px */
}

.c-email {
  /* margin: auto 0; */
  margin: 0 0 20px;
}

.c-password {
  /* margin: auto 0; */
  /* margin: 0 0 0px; */
}

.c-email input,
.c-password input {
  /* width: 100%;
  height: 40px;
  border: 1px solid gray; */
}

.c-email input:focus,
.c-password input:focus {
  /* outline: 2px solid gray;
  outline-offset: -2px; */
}

.c-submit {
  /* margin: auto 0; */
  /* margin-top: 30px; */
}

.c-submit button {
  /* height: 40px;
  border: 0;
  border-radius: 6px;
  padding: 0;
  width: 100%; */
}