.moviesCarousel {
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
  height: 360px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  /* height: 200px; */
  height: 100%;
  box-sizing: border-box;
}

.movieGroup {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 90%;
  /* background-color: rgb(16, 16, 16); */
  background-color: red;
  padding: 10px;
  margin: 2%;
}

.movieCard {
  height: 90%;
  flex: 1;
  background-color: green;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: center; */
  /* justify-content: space-evenly; */
}

.moviePosterContainer {
  height: 80%;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.moviePoster {
  height: 100%;
  /* width: 100%; */
  /* height: auto; */
  /* margin: 10px; */
}

.movieTitleContainer {
  text-align: center;
  height: 20%;
}

.movieTitle {
  padding: 0 5%;
  font-size: large;
  font-weight: bold;
  overflow: hidden;
}

.carousel-indicators {
  margin: 0;
}