.c-movie-review-card {
  background-color: var(--primary-container-color);
  padding: 1rem;
  border-radius: 5px;

  .c-movie-review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .c-movie-review-rating-prompt {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: red;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .c-movie-review-author {
      margin-right: auto;
      display: flex;
      align-items: center;
      height: 3rem;

      img {
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      h2 {
        margin: 0;
      }
    }

    .c-btn-edit-review {
      height: 2rem;
      background-color: transparent;

      img {
        height: 70%;
        filter: invert(95%);
      }
    }

    .c-btn-exit-edit-review {
      height: 2rem;
      background-color: transparent;
      color: white;
      font-weight: 900;
    }
  }

  .c-movie-review-text {
    width: 100%;
    margin-bottom: 1rem;

    textarea {
      width: inherit;
      resize: none;
      outline: none;
      border: none;
      border-radius: 3px;
      vertical-align: top;
    }
  }
}
