.c-movie-card {
  width: 15%;
  background-color: rgb(26 26 26);
  border-radius: 3px;
  text-decoration: none;
  color: #ebeed5;
  padding-bottom: 6px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 100%);

  .c-movie-poster {
    box-shadow: 0 2px 2px rgb(12 12 12 / 20%);
    height: 75%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .c-movie-card-details {
    padding: 0 5px;

    .c-movie-rating {
      height: 1em;
      margin-top: 6px;
      display: flex;
      align-items: center;

      .c-icon-star {
        height: 100%;
        display: flex;

        img {
          height: 100%;
        }
      }

      span {
        margin-left: 5px;
      }
    }

    .c-movie-title {
      margin-top: 8px;
      height: 3em;

      .movie-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-weight: bold;
      }
    }
  }
}