.c-outer-movie-reviews {
  .c-movie-reviews-header {
    // display: flex;
    // align-items: center;

    h1 {
      display: inline-block;
      color: rgb(255 210 0);
    }

    .btn-add-review {
      display: inline-block;

      // align-items: center;
      margin-right: auto;
      background-color: transparent;
      color: rgb(11 77 146);
    }

    .btn-add-review:hover {
      box-shadow: none;
    }

    .c-btn-content {
      display: flex;
      align-items: center;
    }
  }

  .c-inner-movie-reviews {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
