.searchContainer {
  height: 100%;
  width: 35%;
  /* display: flex; */
  padding: 0.6%;
}

.searchBarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: white ;
}

.searchBarContainer:focus-within {
  outline: 2px solid rgb(255, 210, 0);
  outline-offset: -1px;
}

#searchBar {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  border-right: 0;
}

#searchBar:focus {
    outline: none;
}

#searchButton {
  height: 100%;
  padding: 0;
  border: 0;
  border-left: 0;
  box-sizing: border-box;
  background-color: transparent;
}


#searchIcon {
  border-radius: 0 8px 8px 0;
  padding: 7px;
  height: 100%;
}

#searchAutocomplete {
  width: 100%;
  color: black;
  position: relative;
  z-index: 1;
  max-height: 25em;
  flex: 1;
  overflow-y: scroll;
}
