.searchContainer {
  height: 100%;
  width: 35%;
  padding: 0.6%;
}

.searchBarContainer {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: white;
}

.searchBarContainer:focus-within {
  outline: 2px solid rgb(255, 210, 0);
  outline-offset: -1px;
}

.withAutocompleteResults {
  border-radius: 4px 4px 0 0;
}

.withAutocompleteResults:focus-within {
  outline: none;
}

#searchBar {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  border-right: 0;
}

#searchBar:focus {
  outline: none;
}

#searchButton {
  height: 100%;
  padding: 0;
  border: 0;
  border-left: 0;
  box-sizing: border-box;
  background-color: transparent;
}


#searchIcon {
  border-radius: 0 8px 8px 0;
  padding: 7px;
  height: 100%;
}

#searchAutocomplete {
  width: 100%;
  color: black;
  position: relative;
  z-index: 999;
  max-height: 25em;
  flex: 1;
  overflow-y: scroll;
  /* border-radius: 0 0 10px 10px; */
}

/* Width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}