.btn-sign-up-box {
  margin-left: 1em;
  border: 2px solid #ebeed5;
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  color: rgb(12, 12, 12);
  background-color: buttonface;
}

.btn-sign-up-box span {
  font-size: medium;
  font-weight: bold;
}